div.footer {
	background-color: #4B7572;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	font-size: 75%;
	opacity: 0.9; 																			/* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
	filter: alpha(opacity=90); 																/* IE6-IE8 */
}

#footerList li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}