/* CSS for links */
div.links {
	font-family: "coquette",arial,verdana,sans-serif;
	background-color: #5A8C88;
	max-width: 1200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: 0px;
	left: 25px;
	-webkit-border-radius: 8px; 																/* Saf3-4, iOS 1-3.2, Android ≤1.6 */
        border-radius: 8px; 																		/* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
	-webkit-box-shadow: 0px 0px 12px 0px #302d30; 											/* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        box-shadow: 0px 0px 12px 0px #302d30; 													/* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5A8C88), to(#4B7572)); 		/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #5A8C88, #4B7572); 							/* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, #5A8C88, #4B7572); 								/* FF3.6+ */
	background-image: -ms-linear-gradient(top, #5A8C88, #4B7572); 								/* IE10 */
	background-image: -o-linear-gradient(top, #5A8C88, #4B7572); 								/* Opera 11.10+ */
	background-image: linear-gradient(to bottom, #5A8C88, #4B7572);
	opacity: 0.9; 																				/* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
	filter: alpha(opacity=90); 																	/* IE6-IE8 */
}

#linksList li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
	
a:link {
	color: #273C66;
	text-decoration: none;
	text-shadow: 1px 1px 3px #888;
}
	
a:visited {
	color: #1D2D4C;
	text-decoration: none;
	text-shadow: 1px 1px 3px #888;
}

a:link:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 3px #888;
}

a:link:focus {
	text-decoration: underline;
	text-shadow: 1px 1px 3px #888;
}
	
a:active {
	color: #0033ff;
	text-decoration: underline;
	text-shadow: 1px 1px 3px #888;
}

a.contact {
	text-decoration: none;
}

a.contact:link:hover {
	text-decoration: underline;
}