/* CSS for Fermentation Station */
@import "login.css";
@import "links.css";
body {
	font-size: 100%;
	font-family: "abril-text",arial,verdana,sans-serif;
	color:#000000;
	background-color:#ffffff;
}

h1 {
	font-size: 200%;
	font-family: "coquette",arial,verdana,sans-serif;
}

h2 {
	font-size: 150%;
	font-family: "coquette",arial,verdana,sans-serif;
}

p.intro:first-letter {
	font-size: 150%;
}

p.intro {
	max-width: 450px;
	line-height: 1.5em;
}

div.footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	font-size: 12px
}

#footerList li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
