/* CSS for Fermentation Station */
@import "login.css";
@import "links.css";
body {
	font-size: 100%;
	font-family: "abril-text",arial,verdana,sans-serif;
	color:#000000;
	background-color:#ffffff;
}

h1 {
	font-size: 250%;
	font-family: "coquette",arial,verdana,sans-serif;
	margin-bottom: 0px;
}

h1:first-letter {
	font-size: 300%;
}

h2 {
	font-size: 150%;
	font-family: "coquette",arial,verdana,sans-serif;
}

.links {
	font-size: 150%;
}

p.intro:first-letter {
	font-size: 150%;
}

p.intro {
	max-width: 450px;
	line-height: 1.5em;
}

#tempBox1 {
	border: 1px solid #000000;
	height: 300px;
	width: 300px;
	padding: 5px;
	margin: 5px;
	position: relative;
	left: 550px;
	top: -300px;
}

#tempBox2 {
	border: 1px solid #000000;
	height: 300px;
	width: 300px;
	padding: 5px;
	margin: 5px;
	position: relative;
	left: 950px;
	top: -617px;
}

div.footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	font-size: 75%;
}

#footerList li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}